.height_100px {
    height: 100px;
}

.example-header-image {
    width: 40px;
    border-radius: 100%;
    height: 40px;
}

mat-card.m-2.mat-card {
    width: 99%;
}

mat-card-title.font-weight-bold.mat-card-title {
    margin-top: 10px;
}

.abc {
    margin-left: 27px;
}

mat-card.m-2.p-3.mat-card {
    height: 65px;
}

img.section {
    height: 217%;
    margin-left: 100%;
    border-radius: 100%;
    width: 89px;
}

mat-card-title {
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    color: #3faf28;
    font-weight: bold;
}

mat-card-header.mat-card-header {
    color: #3faf28;
}

mat-card.m-2.p-3.mat-card {
    background-color: #f7fcf8!important;
}

.font-weight-bold.row {
    color: black;
}

.col-12.font-weight-bold {
    margin-left: -21px;
}

mat-card-content.mat-card-content {
    margin-top: 12px;
}

a.mat-raised-button {
    background-color: #3faf28;
    color: white;
}


/* .left_border {
  border-left: 1px solid #3faf28;

} */

.row.my-2 {
    margin-left: 12px;
}

td,
th {
    padding: 1px 7px;
}

.desc {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}