<div class="header">
    <div class="row m-0">
        <div class="col-2 p-0">
            <img src="assets/images/logo2.png" alt="" class="home">
            <mat-card class="p-0 h-100 nav_card">
                <mat-nav-list class="p-0 h-100">
                    <mat-list-item *ngFor="let link of links" matLine class="text_white w-100 font-weight-bold" routerLink="{{link.url}}" routerLinkActive="active-link" routerLinkActive="active-link">
                        {{ link.name }}
                    </mat-list-item>
                </mat-nav-list>
            </mat-card>
        </div>
        <div class="col-10 p-0">
            <mat-toolbar color="primary">
                <div class="col-8">
                    <form class="example-form">
                        <div class="row">
                            <div class="col-8">
                                <mat-form-field class="w-100">
                                    <input matInput name="seratck" placeholder=" Search" aria-label="State" [matAutocomplete]="auto" #searchText (keyup)="search(searchText.value)" id="searchBar">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear">
                          <mat-icon>search</mat-icon>
                        </button>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let task of tasks?.items" [value]="user" (click)="onSelect(task.id)">
                                            {{ task?.title || 'N/A'}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>

                </div>

                <span class="example-spacer"></span>
                <button mat-button class="float-right" [matMenuTriggerFor]="menu" ng-click="" ng-style="{'background-color': '#ffff'}">
            {{(user?.name || 'N/A') | titlecase}}
          </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log Out</span>
            </button>
                </mat-menu>
            </mat-toolbar>
            <div class="row p-3 m-0">
                <div class="container container p-0 m-0">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    </div>
</div>